<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
<main>
    <div>
        <h1>Edit Pokemon</h1>
        <form action="/<%=index%>?_method=PUT" method="POST">
            <br>
            <input type="text" name="name">
            <br>
            <input type="text" name="img">
            <br>
            <input type="text" name="type">
            <br>
            <input type="submit" name="" value="Submit Changes">
        </form>
    </div>
</main>
<a href="/"><button class="glow-on-hover" type="button">Back</button></a>
</body>
</html>